* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Helvetica;
	border: 1px solid rgb(8, 8, 8);
}

/*Cabeçalho*/
header {
	background-color: #030303;
	color: #d8dee6;
	padding: 15px;
	text-align: center;
}

/*Grid de produtos*/
.container {
	background-color: #e3e3f0;
	min-heihht: 60vh;
	padding: 50px;
}

footer {
	blackgrond-color: #3db36b;
	color: #fff;
	border-top: 3px solid #0f642f;
	padding: 80px;
}

.card {
	width: 31%;
	display: inline;
}
